.article-image {
  width: 100%;
  height: 600px;
  @media (max-width: $screen-lg) {
    height: 351px;
  }
  @media (min-width: $screen-lg) {
    height: 351px;
  }
}
.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
article {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  line-height: 40px;
  margin: 0 40px;
  @media (min-width: $screen-sm){
    margin: 0;
  }



  h2 {
    margin-top: 40px;
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      margin: 40px 20px 10px 20px;
    }
  }

  p {
    margin-bottom: 20px;
    @media (min-width: $screen-sm) and (max-width: $screen-md) {
      margin: 0 20px 40px 20px;
    }
  }

}
