@import "../general";
@import "../variables";
@import "../fonts";

.container {
  .row{
  .col-sm-12 {
    display: flex;
    .header-logo{
      font-family: "Open Sans", sans-serif;
      font-size: 40px;
      background-color: $color-logo;
      padding: 10px;
      border-radius: 5px;
      color: white;
    }
  }
}
}


a {
  text-decoration: none;
  margin: auto;
}

.header-content {
  .col-sm-12 {
    @include center;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    color: $color-text;
    p {
      text-align: center;
      margin-top: 10px;
      font-size: 35px;
      margin-bottom: 40px;
      width: 70%;
    }
    button {
      font-size: 30px;
      font-weight: 600;
      height: 60px;
      width: 95%;
      background-color: $color-button;
      border-radius: 5px;
      margin-bottom: 10px;
      color: white;
      i {
        margin-right: 15px;
      }
    }
    button:last-child {
      margin-bottom: 40px;
      background-color: $color-bg;
      color: $color-text;
    }
  }
}
h1 {
  margin-top: 30px;
  font-size: 40px;
  font-weight: 800;
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: relative;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
  position: absolute;
  top: 80px;
  left: 0px;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}


.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: absolute;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: absolute;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}


.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: $screen-sm) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

// for tablet

@media (min-width: $screen-sm) and (max-width: $screen-lg) {
  .header {
    @include center;
    justify-content: space-between;
    ul{
      position: relative;
      top: 0;
      left: 0;
    }
    .header-logo {
      margin: 0;
    }
  }.header-content {

  .header-main {
    display: flex;
    flex-direction: row;
    .left {
      margin-left: 40px;
      display: block;
      text-align: left;
      p {
        text-align: left;
        width: 80%;
      }
    }
    .right {
      margin-top: 35px;
      margin-right: 40px;
    }
    button {
      width: 100%;
    }
  }
}

}