$gap: 15px;
$columns: 12;
$mobile: 820px;
$tablet: 1024px;
$desktop: 1500px;

* {
  box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;
 }

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-left: $gap;
    padding-right: $gap;

   [class*="col-"] {
    box-sizing: border-box;
    min-height: 1px;
    width: 100%;
  }
    .row {
      display: flex;
      flex-wrap: wrap;
    }
    @for $i from 1 through $columns {
    .col-#{$i} {
      width: (100 / $columns * $i) * 1%;
    }
  }
    @for $i from 1 through $columns {
    @media (min-width: $mobile) {
      .col-sm-#{$i} {
        width: (100 / $columns * $i) * 1%;
      }
    }
  }
    @for $i from 1 through $columns {
    @media (min-width: $tablet) {
      .col-md-#{$i} {
        width: (100 / $columns * $i) * 1%;
      }
    }
  }
  @for $i from 1 through $columns {
    @media (min-width: $desktop) {
      .col-lg-#{$i} {
        width: (100 / $columns * $i) * 1%;
      }
    }
  }
  }